
$color-gryffindor-red: #740001;
$color-gryffindor-gold: #D3A625;
$color-slytherin-green: #1A472A;
$color-slytherin-silver: #5D5D5D;
$color-hufflepuff-yellow: #FFD800;
$color-hufflepuff-black: #000000;
$color-ravenclaw-blue: #0E1A40;
$color-ravenclaw-bronze: #946B2D;

$color-main: $color-hufflepuff-yellow;
$color-secundary: $color-hufflepuff-black;



